.cv__contact {
  display: flex;
  gap: 0.5rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.cv__contact a:hover {
  text-decoration: underline;
}

.cv__contact--pipe {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.cv__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cv__skills span {
  background-color: var(--color--primary);
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}
