:root {
  --color--background: #f4f6f5;
  --color--text: #131614;
  --color--primary: #d3d9d5;
  --color--squares: #aeadf0;
}

[data-theme="dark"] {
  --color--background: #131614;
  --color--text: #f4f6f5;
  --color--primary: #7c8d82;
  --color--squares: #d8dcff;
}

body {
  background-color: var(--color--background);
  color: var(--color--text);
  transition: all 0.3s ease;
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: var(--color--text);
  background-color: var(--color--background);
}

@media only screen and (max-width: 768px) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 12px;
  }
}

a,
button {
  color: var(--color--text);
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
