:root {
  --color--background: #f4f6f5;
  --color--text: #131614;
  --color--primary: #d3d9d5;
}

[data-theme="dark"] {
  --color--background: #131614;
  --color--text: #f4f6f5;
  --color--primary: #7c8d82;
}

body {
  background-color: var(--color--background);
  color: var(--color--text);
  transition: all 0.3s ease;
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Fira Code", monospace;
  font-size: 16px;
}

a,
button {
  color: var(--color--text);
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
