.contact__modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.contact__modal {
  background: var(--color--background);
  padding: 2rem;
  width: calc(100% - 5rem);
  max-width: 400px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .contact__modal {
    padding: 1rem;
  }
}

.contact__modal--close {
  position: absolute;
  top: 0.3em;
  right: 0.7em;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__form input,
.contact__form textarea {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border: 1px solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

.contact__success {
  font-weight: bold;
}

.contact__error {
  color: red;
}

.contact__submit {
  border: none;
  cursor: pointer;
  padding-top: 8px;
}

.contact__submit:hover {
  text-decoration: underline;
}
