.theme-toggle__button {
  color: var(--color--text);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: auto;
}

.theme-toggle__text--underline {
  text-decoration: underline;
}
